*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#111827;
    color:#ffffff;
    font-family:'Clash Display', sans-serif;
}

/* NAVBAR */
nav{
    background:#000000;
    padding:20px 8%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    border-bottom:2px solid #FFC451;
}

.logo{
    font-family:'Cinzel', serif;
    font-size:24px;
    color:#FFC451;
    letter-spacing:2px;
}

/* HERO */
.hero{
    text-align:center;
    padding:150px 10%;
}

.hero h1{
    font-family:'Cinzel', serif;
    font-size:55px;
    color:#FFC451;
    text-shadow:0 0 20px rgba(255,196,81,0.7);
}

.hero p{
    margin:20px 0;
    font-size:20px;
}

.view-btn{
    background:#FFC451;
    color:#000;
    padding:15px 40px;
    border:none;
    font-weight:bold;
    cursor:pointer;
    transition:0.3s;
}

.view-btn:hover{
    background:#DC2626;
    color:#fff;
    transform:scale(1.05);
}

/* GUIDELINES */
.guidelines{
    padding:80px 8%;
    opacity:1;
    transition:all 0.6s ease;
}

.hidden{
    display:none;
}

.section-title{
    text-align:center;
    font-family:'Cinzel', serif;
    font-size:42px;
    color:#FFC451;
    margin-bottom:50px;
}

/* ACCORDION */
.accordion{
    background:#000000;
    padding:20px;
    margin-bottom:10px;
    border-left:4px solid #FFC451;
    font-family:'Cinzel', serif;
    cursor:pointer;
    transition:0.3s;
}

.accordion:hover{
    border-left:4px solid #DC2626;
}

.panel{
    background:#1f2937;
    max-height:0;
    overflow:hidden;
    transition:max-height 0.4s ease;
    padding:0 20px;
}

.panel ul{
    padding:20px 0;
    list-style:none;
}

.panel ul li{
    margin-bottom:12px;
}

.highlight-red{
    color:#DC2626;
    font-weight:bold;
}

.highlight-gold{
    color:#FFC451;
    font-weight:bold;
}

.tagline{
    text-align:center;
    margin-top:40px;
    font-family:'Cinzel', serif;
    font-size:22px;
    color:#FFC451;
}

.enter-btn{
    display:block;
    margin:50px auto;
    background:#FFC451;
    color:#000;
    padding:15px 50px;
    border:none;
    font-weight:bold;
    cursor:pointer;
    transition:0.3s;
}

.enter-btn:hover{
    background:#DC2626;
    color:#fff;
    transform:scale(1.05);
}
.register-btn {
    font-family: 'Cinzel', serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;

    padding: 14px 36px;
    border-radius: 8px;
    border: 2px solid #FFC451;

    background: linear-gradient(135deg, #DC2626, #111827);
    color: #FFFFFF;

    cursor: pointer;
    transition: all 0.4s ease;
    box-shadow: 0 0 15px rgba(255, 196, 81, 0.4);
}

/* Hover Effect */
.register-btn:hover {
    background: linear-gradient(135deg, #FFC451, #DC2626);
    color: #000000;
    transform: scale(1.08);
    box-shadow: 0 0 25px rgba(255, 196, 81, 0.8);
}

/* Click Effect */
.register-btn:active {
    transform: scale(0.95);
}
